.bloc__content__superpo{
  position: absolute;
  margin-top: 11%;
  margin-left: -0.5%;
}

@media (max-width: 750px) {
  .bloc__content__superpo{
    margin-top: 35%;
    width: 80%;
  }
}

.bloc__text__reduct{
  padding: 0 20px 0 20px;
  font-size: 1.2rem;
}
