.nav-link .btn{
  background-color: #303030;
  color: #fca6bc;
  font-weight: bold;
  box-shadow: none !important;
}
.nav-link .btn:hover{
  background-color: #505050;
  color: #fca6bc;
}

body .navbar{
  background-color: #231f20;
  box-shadow: 0 0 4px #000;
}
